# EAS Ignore configuration
/ai
/backend
/android/.gradle
/android/app/build
/android/build
/node_modules
/.git
/.expo
/dist
/scratch
ai/
backend/
android/.gradle/
android/app/build/
android/build/
node_modules/
.git/
.expo/
dist/
scratch/
